<?xml version="1.0"?>
<connectionStrings>
	<clear/>
	<add name="DefaultConnection" connectionString="Data Source=RATUL-PC\SQLEXPRESS;Initial Catalog=Website;User ID=ratul; Password=ratul; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	<add name="AuthConnection" connectionString="Data Source=RATUL-PC\SQLEXPRESS;Initial Catalog=WebsiteIdentity;User ID=ratul; Password=ratul; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>
