<?xml version="1.0"?>
<configuration>

  <configSections>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net debug="true">
    
    <appender name="InfoLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\info_log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>

    <appender name="HandledErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\handled_error_log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>

    <appender name="UnhandledErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\unhandled_error_log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="FATAL" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <!-- To make email logger active, you must set the mail credetials -->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="13ratul@gmail.com" />
      <from value="noreply@ratulprojectinfo.com" />
      <subject value="WebsiteName - Website facing problem." />
      <authentication value="1" />
      <smtpHost value="smtp.gmail.com" />
      <username value="ratulprojectinfo@gmail.com" />
      <password value="projectinfo" />
      <port value="587" />
      <enableSsl value="true" />
      <bufferSize value="1" />
      <lossy value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%newline%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <appender-ref ref="InfoLogFileAppender"/>
      <appender-ref ref="HandledErrorLogFileAppender" />
      <appender-ref ref="UnhandledErrorLogFileAppender" />
      <appender-ref ref="SmtpAppender"/>
    </root>

  </log4net>

</configuration>

