<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

Hello <#=this.NewUser.Name#>,

Your new account has been created. 
To complete the registration process, please confirm your email address by clicking the link below:
<#=this.Url#>

The website.com team
(c) 2015 website.com
